body{
  /* background-color: #13183B; */
  /* color: whitesmoke; */
  background-color: rgba(33, 33, 33,255);
  font-family: 'Noto Serif Georgian', serif;
}
.App {
 
  text-align: center;
  width: 90%;
  max-width: 1140px;
  margin: auto;
  margin-top: 20px;
  height: 100vh;
  border-radius: 1%;
  color: #FFFFFF;
  background-color: rgba(18, 18, 18,255);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.featured {
  margin-top: 50px;

}
.grid {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;
  gap: 25px;
}

.grid_items {
  border: 4px solid whitesmoke;
  height: 250px;
  width: 350px;
}

.grid_items-title {
  color: rgb(16, 1, 1);
  /* background-color: black; */
}